body { background: #86a8b9; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 40px; display: flex; }
.block-logger-0 { color: #746024; font-size: 19px; margin-bottom: 5px; }
.block-uploader-1 { color: #9a8197; font-size: 12px; margin-bottom: 5px; }
.block-cluster-2 { color: #c38b8b; font-size: 19px; margin-bottom: 5px; }
.block-router-3 { color: #7c8b10; font-size: 17px; margin-bottom: 5px; }
.block-config-4 { color: #420b54; font-size: 16px; margin-bottom: 5px; }
.block-filter-5 { color: #9762f5; font-size: 17px; margin-bottom: 5px; }
.block-invoice-6 { color: #73b456; font-size: 21px; margin-bottom: 5px; }
.block-cart-7 { color: #fb5939; font-size: 12px; margin-bottom: 5px; }
.block-filter-8 { color: #bd5c3d; font-size: 16px; margin-bottom: 5px; }
.block-logger-9 { color: #e6030f; font-size: 19px; margin-bottom: 5px; }
.block-cache-10 { color: #2cbe23; font-size: 12px; margin-bottom: 5px; }